MONGODB_URI=your_mongodb_connection_string_here
MONGODB_DB_NAME=your_database_name_here
MOCK_QBT_DB_NAME=mock_qbt
QBT_ACCESS_TOKEN=your_quickbooks_time_access_token_here
QBT_ENV=prod
TIMESHEET_START_DATE=2024-01-01
TIMESHEET_SYNC_INTERVAL_MS=60000
ENTITY_SYNC_INTERVAL_MS=60000
